body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

p {
    color: #555;
}

label {
    display: block;
    margin-top: 20px;
    color: #333;
}

#guessField {
    padding: 8px;
    font-size: 16px;
}

#qntPalpites {
    margin-top: 20px;
    font-size: 18px;
    color: #555;
}

#btnEnviar {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#btnEnviar:hover {
    background-color: #45a049;
}

